# This is the IP address of SMSC
ip-address=1.1.1.1

# Port to bind to
port=2777

# Your system id
system-id=idid

# Your password
password=password

# The bind mode can be t, r, or tr for transmitter,
# receiver or transciever respectively
bind-mode=t

# The address range this smpp client will serve
addr-ton=1
addr-npi=1

# The source address for this client
source-ton=5
source-npi=0
# This is a made-up address
source-address=source_name

# The default destination address
destination-ton=1
destination-npi=1
# Set your destination address default
# destination-address=

# The service type can be empty or one of
# the following values:
# CMT, CPT, VMN, VMA, WAP or USSD
# service-type=

system-type=

# The receive timeout is a timeout for trying to receive a message
# from the SMSC. If you want go to infinite wait until a PDU
# is received, set the receive-timeout to -1. Otherwise
# set the receive-timeout to number of seconds.

receive-timeout=10
